@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212; /* Atur warna latar belakang default */
    font-family: 'Poppins', sans-serif;
    color: white;
}

.has-corner-light::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;  /* Lebar cahaya */
    height: 250px; /* Tinggi cahaya */
    background-image: radial-gradient(circle, rgba(253, 224, 71, 0.15) 0%, rgba(253, 224, 71, 0) 60%);
    z-index: 1; /* Pastikan di atas background tapi di bawah konten */
    pointer-events: none; /* Agar tidak bisa diklik */
}